  <div class="hero">
    <div class="page-content clearfix">
      <!--<img src="<%#= asset_path 'logo.png' %>" alt="logo" id="logo"/>-->
      <!--<div class="mammoth">-->
        <!--<span class="need brandon">Shaving Is<br>Evolving</span>-->
      <!--</div>-->
      <div class="share-wrap">
        <p class="why brandon">Don't leave your friends behind</p>
        <p class="title brandon">INVITE FRIENDS &<br/> Earn Product</p>
        <p class="subtitle brandon">Share your unique link via email, Facebook or Twitter <br/> and earn Fourpalitos goods for
          <br/> each friend who signs up.</p>
        <!--<div class="copy-link brandon"><%= root_url %>?ref=<%= @user.referral_code %></div>-->
        <div class="copy-link brandon">http://dry-inlet-4403.herokuapp.com/?ref=9462da5afb</div>
        <% twitter_message = "#Shaving is evolving. Excited for @Fourpalitoss to launch." %>
        <div class="social-links">
          <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&title=Fourpalitoss" class="fb" target="_blank"></a>
          <div class="sep"></div>
          <a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(twitter_message) %>" class="twit" target="_blank"></a>
        </div>
      </div>
    </div>
  </div>

  <%
     referrals_count = @user.referrals.count

     stops = User::REFERRAL_STEPS

     found = nil

     stops.reverse_each { |stop|
       if stop["count"] <= referrals_count and !found
         stop["selected"] = true
         found = stop
       else
         stop["selected"] = false
       end
     }
  %>
  <div class="prizes <% if found %>prize-<%= found["class"] %><% end %>">
    <div class="page-content">
      <p class="callout brandon">Here's How It Works:</p>
      <ul class="products clearfix">
        <li class="title brandon"><p class="friends">Friends Joined</p><p class="rewards">Fourpalitos Product</p></li>
        <% stops.each do |stop| %>
            <li class="product brandon <% if stop["selected"] %>selected<% end %> <% if stop["class"] == 'five' %>last<% end %>">
              <div class="circle"><%= stop["count"] %></div>
              <div class="sep"></div>
              <p><%= stop["html"].html_safe %></p>

              <div class="tooltip">
                <img src="<%= stop["image"] %>" height="254">
              </div>
            </li>
        <% end %>
      </ul>

      <div class="progress">
        <div class="mover">
          <div class="bar clearfix"></div>
        </div>
      </div>

      <%
         words = ''
         if referrals_count == 1
           words = 'FRIEND HAS'
         elsif
         words = 'FRIENDS HAVE'
         end

      %>

      <% if referrals_count == 0 %>
          <p class="place brandon"><span>0</span> FRIENDS HAVE JOINED!</p>
      <% else %>
          <p class="place brandon"><span><%= referrals_count %></span> <%= words %> JOINED</p>
      <% end %>
      <p class="check brandon">Keep Checking</p>

      <p class="ship brandon">We ship to the U.S. (& Canada Soon)</p>
      <a class="policy brandon" href="/privacy-policy" target="_blank">Privacy Policy</a>
    </div>
  </div>
